Source: libkrun
Maintainer: Christian Blichmann <mail@blichmann.eu>
Section: admin
Priority: optional
Build-Depends: debhelper-compat (= 13),
               make,
               libc6-dev
Standards-Version: 3.9.6
Homepage: https://github.com/google/pawn

Package: libkrun
Architecture: amd64
Depends: ${misc:Depends}, libkrunfw
Description: Virtualization-based process isolation library
 libkrun is a dynamic library that allows programs to easily acquire the
 ability to run processes in a partially isolated environment using KVM
 virtualization.
 .
 It integrates a VMM (Virtual Machine Monitor, the userspace side of a
 hypervisor) with the minimum amount of emulated devices required to its
 purpose, abstracting most of the complexity that comes from virtual machine
 management, offering users a simple C API.
