#!/usr/bin/make -f

EXTRA_ARGS += DESTDIR=$$(pwd)/debian/libkrun
EXTRA_ARGS += PREFIX=/usr
EXTRA_ARGS += LIBDIR_Linux=lib/x86_64-linux-gnu

setup_rust_toolchain:
	( \
	  echo 'default_toolchain = "stable-x86_64-unknown-linux-gnu"'; \
	  echo 'version = "12"' \
	) > ~/.rustup/settings.toml

override_dh_auto_clean: setup_rust_toolchain
	$(MAKE) clean
	rm -f libkrun.pc

override_dh_dwz:

override_dh_auto_build: setup_rust_toolchain
	$(MAKE) $(EXTRA_ARGS)

override_dh_auto_install:
	$(MAKE) $(EXTRA_ARGS) \
	  install

%:
	dh $@ --parallel
